.contCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  border: 0.2px solid var(--primary-color-light);
  position: relative;
  overflow: hidden;
}

.contCard img {
  border-radius: 20px;
}

.dataImage {
  width: 60%;
  height: auto;
}

.dataImage img {
  width: 100%;
  height: auto;
}

.introCard {
  width: 40%;
}

.introCard .technologies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
}

@media (max-width: 1024px) {
  .contCard {
    flex-direction: column;
  }
  .dataImage,
  .introCard {
    width: 100%;
  }
  .introCard {
    padding: 1% 0 0;
  }
}
